* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body,html {
    height: 100%;
}
.btn {
    margin-top: 58px;
}
form {
    background: #222;
    width: 250px;
    height: 320px;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[name="display"] {
    background: #ddd;
    height: 50px;
    text-align: right;
    border-radius: 4px;
    margin: 5px;
    width: calc(100% - 10px);
    border: none;
    padding: 0 10px;
    font-size: 25px;
    color: #222;
}
input[type="button"]{
    float: left;
    width: calc(100% / 4 - 6.5px);
    background: #fff;
    border-radius: 3px;
    height: 35px;
    text-align: center;
    margin: 0 0 5px 5px;
    border: none;
}
input[type="button"]:nth-last-of-type(1){
    background-color:orangered ;
    width: calc(50% - 7px);
    font-size: 20px;
}
